In [1]:
# Add the Pandas dependency.
import pandas as pd

In [2]:
# Files to load
vine_data_to_load = "vine_table.csv"

In [3]:
# Read the school data file and store it in a Pandas DataFrame.
vine_data_df = pd.read_csv(vine_data_to_load)
vine_data_df.head()

C:\Users\Koskie\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1WBPB8MDCCN8F,5.0,0.0,0.0,N,N
1,R32M0YEWV77XG8,5.0,1.0,1.0,N,Y
2,RR8V7WR27NXJ5,1.0,0.0,0.0,N,Y
3,R1MHO5V9Z932AY,5.0,0.0,0.0,N,Y
4,R16PD71086BD2V,5.0,0.0,1.0,N,N

In [4]:
vine_data_df.dtypes

review_id             object
star_rating           object
helpful_votes        float64
total_votes          float64
vine                  object
verified_purchase     object
dtype: object

In [6]:
# Filter on total votes >= 20
total_votes_df = vine_data_df[vine_data_df["total_votes"] >= 20.0]
total_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
326,R1B4753QMTD8ON,5.0,32.0,32.0,N,N
662,R28BVHOEL6GCHZ,5.0,21.0,21.0,N,Y
1055,R27IB4BRKO71I0,2.0,16.0,20.0,N,Y
1225,RJ86OW12Y4NRL,5.0,124.0,128.0,N,Y
1448,R3KRABOWCH6ZE4,1.0,48.0,65.0,N,Y
...,...,...,...,...,...,...
4850347,R1KGFSPKL3YCGK,4,25.0,26.0,N,N
4850349,R15AZWCW5ZSFSN,5,157.0,160.0,N,Y
4850352,R1ZWVHA89AE49B,5,32.0,33.0,N,N
4850353,R115HJRM6FUVIC,5,27.0,27.0,N,N
4850356,R34TPFL5ZYSV46,3,21.0,29.0,N,N

In [15]:
# Retrieve all rows where helpful_votes divded by total_votes is equal to or greater than 50%
helpful_votes_df = total_votes_df[total_votes_df["helpful_votes"]/total_votes_df["total_votes"] >= .5]
helpful_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
326,R1B4753QMTD8ON,5.0,32.0,32.0,N,N
662,R28BVHOEL6GCHZ,5.0,21.0,21.0,N,Y
1055,R27IB4BRKO71I0,2.0,16.0,20.0,N,Y
1225,RJ86OW12Y4NRL,5.0,124.0,128.0,N,Y
1448,R3KRABOWCH6ZE4,1.0,48.0,65.0,N,Y
...,...,...,...,...,...,...
4850347,R1KGFSPKL3YCGK,4,25.0,26.0,N,N
4850349,R15AZWCW5ZSFSN,5,157.0,160.0,N,Y
4850352,R1ZWVHA89AE49B,5,32.0,33.0,N,N
4850353,R115HJRM6FUVIC,5,27.0,27.0,N,N
4850356,R34TPFL5ZYSV46,3,21.0,29.0,N,N

In [16]:
# Retrieve all rows where a review was written as part of the Vine program
vine_y_df = helpful_votes_df[helpful_votes_df["vine"] == "Y"]
vine_y_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
5506,R32OMS1LSDRCOB,4.0,27.0,31.0,Y,N
24578,R2IPKK4I0XRCFR,4.0,16.0,21.0,Y,N
58364,RXYYJ8SGI9IX6,5.0,36.0,41.0,Y,N
63194,R1SAUBFC7T6JHC,5.0,73.0,75.0,Y,N
177724,R329HVJKKHWSG3,5.0,59.0,59.0,Y,N
...,...,...,...,...,...,...
4717565,R1WG2F3DZFE301,5.0,51.0,81.0,Y,N
4719313,R3VB53V1VDWPQ2,4,104.0,132.0,Y,N
4754150,RCKH2IYVH9PCG,4,21.0,21.0,Y,N
4770385,R1OR7JY4MQP6I7,5,181.0,188.0,Y,N
4770596,R34IO2BR3JWIIZ,4,17.0,20.0,Y,N

In [30]:
# Retrieve all rows where a review was not written as part of the Vine program
vine_n_df = helpful_votes_df[helpful_votes_df["vine"] == "N"]
vine_n_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
326,R1B4753QMTD8ON,5.0,32.0,32.0,N,N
662,R28BVHOEL6GCHZ,5.0,21.0,21.0,N,Y
1055,R27IB4BRKO71I0,2.0,16.0,20.0,N,Y
1225,RJ86OW12Y4NRL,5.0,124.0,128.0,N,Y
1448,R3KRABOWCH6ZE4,1.0,48.0,65.0,N,Y
...,...,...,...,...,...,...
4850347,R1KGFSPKL3YCGK,4,25.0,26.0,N,N
4850349,R15AZWCW5ZSFSN,5,157.0,160.0,N,Y
4850352,R1ZWVHA89AE49B,5,32.0,33.0,N,N
4850353,R115HJRM6FUVIC,5,27.0,27.0,N,N
4850356,R34TPFL5ZYSV46,3,21.0,29.0,N,N

In [43]:
# Determine the total number of reviews
review_count = vine_data_df.count()[0]
print(f'The total number of reviews is {review_count}')

The total number of reviews is 4850360

In [45]:
# Determine the number of 5 star reviews
vine_five_star = vine_data_df[vine_data_df["star_rating"] == 5]
five_star_count = vine_five_star.count()[0]
print(f'The number of 5-star reviews is {five_star_count}')

The number of 5-star reviews is 2961019

In [56]:
# Determine the percentage of 5-star reviews for paid
vine_five_star_paid = vine_y_df[vine_y_df["star_rating"] == 5]
five_star_percentage_paid = vine_five_star_paid.count()/vine_y_df.count()[0]
print(f'The percentage of 5-star reviews for paid Vine members is {five_star_percentage_paid[0] * 100:.2f}%')

The percentage of 5-star reviews for paid Vine members is 39.82%

In [57]:
# Determine the percentage of 5-star reviews for unpaid
vine_five_star_unpaid = vine_n_df[vine_n_df["star_rating"] == 5]
five_star_percentage_unpaid = vine_five_star_unpaid.count()/vine_n_df.count()[0]
print(f'The percentage of 5-star reviews for unpaid Vine members is {five_star_percentage_unpaid[0] * 100:.2f}%')

The percentage of 5-star reviews for unpaid Vine members is 51.62%